# Worksheet 2C - The Range Function
This worksheet corresponds to *Lesson 2C: The Range Function* in the online course. Refer to that lesson as necessary to complete the practice activities here.

## Practice 1 
Create a script that uses the `range` function and displays the square (x<sup>2</sup>) of each number between 1 and 20.

In [17]:
# your code here 

for i in range(0,21):
    print(i, '** 2 =', i ** 2)

0 ** 2 = 0
1 ** 2 = 1
2 ** 2 = 4
3 ** 2 = 9
4 ** 2 = 16
5 ** 2 = 25
6 ** 2 = 36
7 ** 2 = 49
8 ** 2 = 64
9 ** 2 = 81
10 ** 2 = 100
11 ** 2 = 121
12 ** 2 = 144
13 ** 2 = 169
14 ** 2 = 196
15 ** 2 = 225
16 ** 2 = 256
17 ** 2 = 289
18 ** 2 = 324
19 ** 2 = 361
20 ** 2 = 400

## Practice 2
Create a Python script that uses the `range` function to display all the even numbers between 0 and 100, inclusive.

In [18]:
# your code here
for i in range(0,101):
    if i % 2 == 0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

## Practice 3
Use the same logic from Example 3 to iterate through a tuple. 

The box below includes the original code from Example 3. Modify it to use a tuple instead of a list.

In [19]:
info = ["John","Smith","123 East Main Street","Boston","Junior Software Developer"]

info = tuple(info)

for i in range(len(info)):
    print(info[i])

John
Smith
123 East Main Street
Boston
Junior Software Developer

## Practice 4
Display the string backwards.

In [20]:
message = "Hello, World!" 

# your code here
message[::-1]

'!dlroW ,olleH'

## Practice 5
Display a list of numbers that includes all integers between 0 and 100 that are evenly divisible by 3.

In [21]:
# your code here
for i in range(0,101):
    if i % 3 == 0:
        print(i)

0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99